<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzued.campustravel">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d7cd08b0666e84594f0fd838163d9369" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".activity.StartActivity"
            android:theme="@style/WindowFullScreen" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.APPGuide"
            android:theme="@style/WindowFullScreen" />
        <activity
            android:name=".activity.APPStart"
            android:theme="@style/WindowFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.HomePageActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.ThermalMapActivity" />
        <activity android:name=".activity.FlatMapActivity" />
        <activity android:name=".activity.RouteRecommendActivity" />
        <activity android:name=".activity.VoiceIntroActivity" />
        <activity android:name=".activity.VoiceAssistActivity" />
        <activity android:name=".activity.ScenicAreaIntroActivity" />
        <activity android:name=".activity.ScenicSpotIntroActivity" />
        <activity android:name=".activity.CommentActivity" />
        <activity android:name=".activity.BrowseHistoryActivity" />
        <activity
            android:name=".activity.WalletCouponActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.ModifyPasswordActivity" />
        <activity android:name=".activity.ModifyProfileActivity" />
        <activity android:name=".activity.SeeProfileActivity" />

    </application>

</manifest>